body {
  font-family: 'LatoRegular', Arial, sans-serif;
  letter-spacing: 0;
  font-size: 12px;
  background: white;
  color: #666666;
}

h1, h2, h3, h4, h5 {
  font-family: 'LatoBold', Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #666666;
  font-size: 3em;
}
.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.legend {
  x: 0;
  y: 0;
}

path {
  fill: none;
}

text {
  fill: white;
}

.line1 {
  color: white;
}

.line2 {
  color: red;
}

.area1, .bar1 {
  fill: white;
}

.area2, .bar2 {
  fill: #333333;
}

.row h3 {
  margin-left: 10px;
  color: white;
  margin-bottom: 0px;
}
.row .graph {
  margin: 8px;
  display: inline-block;
  background: #222222;
}
#production.row .graph {
  background: green;
}
#sales-section.row .graph {
  background: red;
}
#finance.row .graph {
  background: #666666;
}
#human-resources.row .graph {
  background: #770077;
}
#marketing.row .graph {
  background: #0000aa;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
