body {
  font-family: 'LatoRegular', Arial, sans-serif;
  letter-spacing: 0;
  font-size: 12px;
  background: white;
  color: #666666;
}

h1, h2, h3, h4, h5, button {
  font-family: 'LatoBold', Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #666666;
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
  margin-left: 20px;
  color: white;
}

span {
  color: black;
  padding: 0px 5px 0px 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.legend {
  x: 0;
  y: 0;
}

path {
  fill: none;
  stroke-width: 2px;
}

text {
  fill: white;
}

.area1, .bar1 {
  fill: white;
}

.area2, .bar2 {
  fill: #333333;
}

.row h3 {
  margin-left: 10px;
  color: white;
  margin-bottom: 0px;
}
.row .graph, .table {
  margin: 8px;
  display: inline-block;
  background: #222222;
}
#finance.row .graph {
  background: #444444;
}
#sales-section.row .graph {
  background: #3A539B;/*#0B2F3D;*/
}
#production.row .graph {
  background: #00B16A;
}
#human-resources.row .graph {
  background: #8E44AD;/*#770077;*/
}
#human-resources.row .table {
  background: #8E44AD;/*#770077;*/
  vertical-align: top;
}

.valueText {
  fill: black;
  stroke-width: 1;
  font-size: 18px;
  z-index: 999;
  text-anchor: start;
  writing-mode: tb;
}

/* Flat Button @ http://cssdeck.com/labs/beautiful-flat-buttons
==================================================*/
.flat-button {
  position: relative;
  vertical-align: top;
  width: 10%;
  height: 60px;
  padding: 0;
  margin: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #454545;
  border: 0;
  border-bottom: 2px solid #2f2e2e;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2f2e2e;
  box-shadow: inset 0 -2px #2f2e2e;
}
.flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}