doctype html
html
  meta(charset='utf-8')
  link(rel='stylesheet', type='text/css', href='css/lato/stylesheet.css')
  link(rel='stylesheet', type='text/css', href='/src/jquery-ui.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='src/flat-ui.min.css')
  link(rel='stylesheet', type='text/css', href='css/dashboard.css')
  title Clock Management Dashboard
  body
    h1 Clock Management Dashboard
    #buttons.row
      .col-xs-3
        button.btn.btn-primary.btn-lg.btn-block.btn-inverse.js-zoom-toggle Toggle Zoom

        button.btn.btn-primary.btn-lg.btn-block.btn-inverse(id='selectButton') Select Graphs
        
        a(href='/logout')
          button.btn.btn-primary.btn-lg.btn-block.btn-inverse Logout
        
        a(href='/refresh')
          button.btn.btn-primary.btn-lg.btn-block.btn-inverse Refresh Cache
        
        select.form-control.select.select-inverse.select-block.js-date-dropdown
          option(value='') Choose a date

    h2.finance
      span.fa.fa-gbp.fa-fw
      |  Finance
    #finance.row.js-toggle-finance
      .group
        h3 Revenue 
          span#revenue-status
        #revenue.graph
      .group
        h3 Profit 
          span#profit-status
        #profit.graph
      .group
        h3 Costs
        #costs.graph
      .group
        h3 Annuity 
          span#annuity-status
        #annuity.graph  
      .group
        h3 Rev Per Head 
          span#revenue-per-head-status
        #revenue-per-head.graph
      .group
        h3 Rev VS Target 
          span#revenue-vs-target-status.status
        #revenue-vs-target.graph
      .group
        h3 Profit VS Target 
          span#profit-vs-target-status.status
        #profit-vs-target.graph
      .group
        h3 RPH VS Target 
          span#rph-vs-target-status.status
        #rph-vs-target.graph
      .group
        h3 Rev VS Target
          span#revenue-vs-target-pie-status.status
        #revenue-vs-target-pie.pie
    
    h2.sales-section
      span.fa.fa-shopping-cart.fa-fw
      |  Sales
    #sales-section.row.js-toggle-sales
      .group
        h3 Closed Deals 
          span#closed-deals-status.status
        #closed-deals.graph
      .group
        h3 Pipeline 
          span#pipeline-status.status
        #pipeline.graph
       

    h2.production
      span.fa.fa-cogs.fa-fw
      |  Production
    #production.row.js-toggle-production
      .group
        h3 Tickets
        #tickets.graph

    h2.human-resources
      span.fa.fa-users.fa-fw
      |  HR
    #human-resources.half.row.js-toggle-hr
      .group
        h3  Head Count
        #head-count.graph
      .group
        h3  Sick Days
        #sick-days.graph

      #satisfaction-group
        .group
          h3  Staff Satisfaction
          #staff-satisfaction.table
            h4 Target
              span#staff-satisfaction-target
            h4 Current
              span#staff-satisfaction-value
        .group
          h3  Client Satisfaction
          #client-satisfaction.table
            h4 Target
              span#client-satisfaction-target
            h4 Current
              span#client-satisfaction-value

    .modal#selectModal
      .modal-content
        .modal-header
          span.close X
          h2 Show Selected Graphs
        .modal-body
          h3 FINANCE
          table
            tbody
              tr
                td
                  input(type='checkbox', id='revenue-check' checked)
                  label(for='revenue-check') Revenue 
                td
                  input(type='checkbox', id='profit-check' checked)
                  label(for='profit-check') Profit
                td
                  input(type='checkbox', id='costs-check' checked)
                  label(for='costs-check') Costs
                td
                  input(type='checkbox', id='annuity-check' checked)
                  label(for='annuity-check') Annuity
              tr
                td
                  input(type='checkbox', id='revenue-per-head-check' checked)
                  label(for='revenue-per-head-check') Revenue Per Head
                td
                  input(type='checkbox', id='revenue-vs-target-check' checked)
                  label(for='revenue-vs-target-check') Revenue VS Target
                td
                  input(type='checkbox', id='profit-vs-target-check' checked)
                  label(for='profit-vs-target-check') Profit VS Target
                td
                  input(type='checkbox', id='rph-vs-target-check' checked)
                  label(for='rph-vs-target-check') RPH VS Target
              tr
                td
                  input(type='checkbox', id='revenue-vs-target-pie-check' checked)
                  label(for='revenue-vs-target-pie-check') Revenue VS Target (Pie)
          h3 SALES
          table
            tbody
              tr
                td
                  input(type='checkbox', id='closed-deals-check' checked)
                  label(for='closed-deals-check') Closed Deals
                td
                  input(type='checkbox', id='pipeline-check' checked)
                  label(for='pipeline-check') Pipeline
          h3 PRODUCTION
          table
            tbody
              tr
                td
                  input(type='checkbox', id='tickets-check' checked)
                  label(for='tickets-check') Tickets
          h3 HR
          table
            tbody
              tr
                td
                  input(type='checkbox', id='head-count-check' checked)
                  label(for='head-count-check') Head Count
                td
                  input(type='checkbox', id='sick-days-check' checked)
                  label(for='sick-days-check') Sick Days
              tr
                td
                  input(type='checkbox', id='staff-satisfaction-check' checked)
                  label(for='staff-satisfaction-check') Staff Satisfaction
                td
                  input(type='checkbox', id='client-satisfaction-check' checked)
                  label(for='client-satisfaction-check') Client Satisfaction

  script(src='https://www.gstatic.com/charts/loader.js')
  script(src='https://code.jquery.com/jquery-3.1.0.min.js')
  script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js')
  script(src='/src/flat-ui.min.js')
  script(src='/src/bundle.js')
