doctype html
html
  meta(charset='utf-8')
  link(rel='stylesheet', type='text/css', href='css/lato/stylesheet.css')
  link(rel='stylesheet', type='text/css', href='css/dashboard.css')
  link(rel='stylesheet', type='text/css', href='/src/jquery-ui.css')
  link(rel='stylesheet', type='text/css', href='/src/monthPicker.min.css')
  title Clock Management Dashboard
  body
    h1 Clock Management Dashboard
    #buttons.row
      button.flat-button.js-zoom-toggle Toggle Zoom
      span#date 
        input.js-month-picker(style='width: 0px;')
      button.flat-button(id='selectButton') Select Graphs

    h2.finance Finance
    #finance.row
      .group
        h3 Revenue 
          span#revenue-status
        #revenue.graph
      .group
        h3 Profit 
          span#profit-status
        #profit.graph
      .group
        h3 Costs
        #costs.graph
      .group
        h3 Annuity 
          span#annuity-status
        #annuity.graph  
      .group
        h3 Revenue Per Head 
          span#revenue-per-head-status
        #revenue-per-head.graph
      .group
        h3 Revenue VS Target 
          span#revenue-vs-target-status.status
        #revenue-vs-target.graph
      .group
        h3 Profit VS Target 
          span#profit-vs-target-status.status
        #profit-vs-target.graph
      .group
        h3 RPH VS Target 
          span#rph-vs-target-status.status
        #rph-vs-target.graph
      .group
        h3 Revenue VS Target
          span#revenue-vs-target-pie-status.status
        #revenue-vs-target-pie.pie
      .group
        #profit-vs-target-pie.pie(style='display: none;')
          h3 Profit VS Target
            span#profit-vs-target-pie-status.status

    
    h2.sales-section Sales
    #sales-section.row
      .group
        h3 Win Rate 
          span#win-rate-status.status
        #win-rate.graph
      .group
        h3 Closed Deals 
          span#closed-deals-status.status
        #closed-deals.graph
      .group
        h3 Leads 
          span#leads-status.status
        #leads.graph
      .group
        h3 Pipeline 
          span#pipeline-status.status
        #pipeline.graph
       

    h2.production Production
    #production.row
      .group
        h3 Tickets
        #tickets.graph

    h2.human-resources HR
    #human-resources.half.row
      .group
        h3  Head Count
        #head-count.graph
      .group
        h3  Holiday
        #holiday.graph
      .group
        h3  Sick Days
        #sick-days.graph

      #satisfaction-group
        .group
          h3  Staff Satisfaction
            span#staff-satisfaction-status.status
          #staff-satisfaction.graph
            h4 Target
              span#staff-satisfaction-target
            h4 Current
              span#staff-satisfaction-value
        .group
          h3  Client Satisfaction
            span#client-satisfaction-status.status
          #client-satisfaction.graph
            h4 Target
              span#client-satisfaction-target
            h4 Current
              span#client-satisfaction-value

    .modal#selectModal
      .modal-content
        .modal-header
          span.close X
          h2 Hide Selected Graphs
        .modal-body
          h3 FINANCE
          table
            tbody
              tr
                td
                  input(type='checkbox', id='revenueChk')
                  p Revenue 
                td
                  p Profit
                td
                  p Costs
                td
                  p Annuity
              tr
                td
                  p Revenue Per Head
                td
                  p Revenue VS Target
                td
                  p Profit VS Target
                td
                  p RPH VS Target
              tr
                td
                  p Revenue VS Target (Pie)
                td
                  p Profit VS Target (Pie)

  script(src='https://www.gstatic.com/charts/loader.js')
  script(src='https://code.jquery.com/jquery-3.1.0.min.js')
  script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js')
  script(src='/src/monthPicker.min.js')
  script(src='/src/bundle.js')
  script(type='text/javascript').
    function unZoomAll (current) {
      $('.graph').each(function (i, e) {
        zoomLevel = $(this).css('zoom')
        if (this === current) {
          return
        } else if (zoomLevel !== 1) {
          $(this).animate({ zoom: '100%' }, 200)
        }
      })
    }

    $('.js-zoom-toggle').on('click', function () {
      events = $._data($('.graph')[0], "events")
      if (events && events.click) {
        $('.graph').off('click')
      } else {
        $('.graph').on('click', function (e) {
          zoomLevel = $(this).css('zoom')

          if (zoomLevel === '1.5') {
            $(this).animate({ zoom: '100%' }, 200)
          } else {
            unZoomAll()
            $(this).animate({ zoom: '150%' }, 200)
          }      
       })
      }
    })

    $('.js-month-picker').MonthPicker({
      Button: "<button id='dateToggle' class='flat-button'>Select Date</button>"
    , MonthFormat: 'MM yy'
    , OnAfterMenuClose: function() {
      window.location.href = window.location.origin + '?month=' + $('#monthPicker').val()
    }
    })

    $('.finance').on('click', function () {
      $('#finance').slideToggle('slow')
    })

    $('.sales-section').on('click', function () {
      $('#sales-section').slideToggle('slow')
    })

    $('.production').on('click', function () {
      $('#production').slideToggle('slow')
    })

    $('.human-resources').on('click', function () {
      $('#human-resources').slideToggle('slow')
    })

    // Get the modal
    var modal = document.getElementById('selectModal')

    // Get the button that opens the modal
    var btn = document.getElementById('selectButton')

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName('close')[0]

    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = 'block'
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = 'none'
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = 'none'
        }
    }

